<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RegistroLogin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @RenderSection("estilos", false)
</head>
<body style="background-color">

    <nav >
        <img src="~/Images/logoDM.png" alt="Alternate Text" width="150px"/>
        <a class="navbar-brand text-dark" asp-area="" asp-controller="Home" asp-action="Index">MD Vinilaciones</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Comentarios" asp-action="Blog">Blog</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="Index">Productos</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacto">Contacto</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Productos" asp-action="CarritoList">Carrito</a>
        <partial name="_MenuLogin" />
    </nav>
   
            @RenderBody()

    <footer class="footer" style="background-color:#f2b4bf;">
        <div class="container">
            <div class="footer-content">
                <div class="footer-logo">
                    <img src="~/Images/logoDM.png" alt="Alternate Text" width="100px" />
                </div>
                <div class="footer-links">
                    <ul class="footer-menu">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-social">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2023 Your Company. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>