<style>
    /* Estilos CSS */
    body {
        font-family: Arial, sans-serif;
        background-image: url('https://i.ibb.co/2S6m6ST/v463-aum-81-abstractbackground.jpg'); /* Ruta de la imagen de fondo */
        background-size: cover; /* La imagen de fondo se ajustará al tamaño del div */
        background-position: center;
        margin: 0;
        padding: 0;
    }

    .cont {
        max-width: 800px;
       
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin:100px auto;
    }

    h1 {
        text-align: center;
        color: #333;
    }

    p {
        line-height: 1.6;
        color: #666;
    }

    .social-links {
        text-align: center;
        margin-top: 20px;
    }

        .social-links a {
            display: inline-block;
            margin: 0 10px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: #fff;
            border-radius: 50%;
            background-color: #007bff;
            text-decoration: none;
        }

            .social-links a:hover {
                background-color: #0056b3;
            }

    h2 {
        margin: 50px;
        font-size: 25px;
        font-weight: 600;
        color: black;
    }

    .form-login {
        text-align: center;
        width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: white; /* La imagen de fondo se centrará horizontalmente y verticalmente */ /* Color de fondo */
        border: 1px solid #ced4da; /* Borde */
        border-radius: 5px; /* Bordes redondeados */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombreado */
    }

        .form-login h2 {
            color: #007bff; /* Color del título */
            text-align: center;
            margin-bottom: 20px;
        }

    .form-group {
        margin-bottom: 15px;
    }

        .form-group label {
            color: black; /* Color del texto */
        }

        .form-group input[type="email"],
        .form-group input[type="text"],
        .form-group textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ced4da; /* Borde */
            border-radius: 3px; /* Bordes redondeados */
            box-sizing: border-box;
        }

        .form-group input[type="submit"] {
            background-color: #007bff; /* Color de fondo del botón */
            color: white; /* Color del texto del botón */
            border: none;
            border-radius: 3px; /* Bordes redondeados */
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s; /* Transición suave */
        }

            .form-group input[type="submit"]:hover {
                background-color: #f4cfd6; /* Cambio de color al pasar el ratón */
            }

        .form-group textarea {
            height: 100px; /* Altura fija del textarea */
        }
</style>


<div class="cont">
    <h1>Contacto</h1>
    <h2>¡Gracias por visitar nuestro sitio! Si tienes alguna pregunta, comentario o sugerencia, no dudes en ponerte en contacto con nosotros.</h2>
    <h2>Puedes encontrarnos en las siguientes redes sociales:</h2>
    <div class="social-links">
        <a href="#" target="_blank" title="Facebook">F</a>
        <a href="#" target="_blank" title="Twitter">T</a>
        <a href="#" target="_blank" title="Instagram">I</a>
        <a href="#" target="_blank" title="LinkedIn">L</a>
    </div>
</div>

<div class="form-login">
    <h2>Cualquier cosa pongase en contacto con nosotros</h2>
    <form action="#" method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Ingrese su email" required>
        </div>
        <div class="form-group">
            <label for="password">Nombre:</label>
            <input type="text" id="Nombre" name="nombre" placeholder="Ingrese su nombre" required>
        </div>
        <div class="form-group">
            <label for="password">Descripcion:</label>
            <textarea id="sugerencia" name="sugerencia" placeholder="Ingrese su Descripcion" required style=" resize: none;"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Enviar ">
        </div>
    </form>
</div>
<br /><br />



