@{
    ViewData["Title"] = "Home Page";
}
<style>
    
    
    #imagenHome {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Recorta la imagen para que ocupe todo el ancho sin distorsionarse */
        display: block;
    }

    #textoEncima {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 24px;
        text-align: center;
        z-index: 1; /* Coloca el texto encima de la imagen */
    }
    .containerImage {
        position: relative;
        width: 100%;
        height: 40vh; /* Establece el alto al 30% de la altura de la ventana */
        overflow: hidden;
        margin-bottom:30px;        /
    }

    .text-center {
        text-align: center;
    }
   

    .cont {
        margin: 0;
        padding: 0;
        height: 100%;
        text-align:center;
        background-image: url('https://i.ibb.co/2S6m6ST/v463-aum-81-abstractbackground.jpg'); /* Ruta de la imagen de fondo */
        background-size: cover; /* La imagen de fondo se ajustará al tamaño del div */
        background-position: center;
    }
    h2{
        margin: 50px;
        font-size: 35px;
        font-weight: 600;
        color: #007ce8;
    }


    /*formulario sugerencias*/

    .form-login {
       
        text-align:center;
        width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-image: url('https://i.ibb.co/vZZszYc/col.jpg'); /* Ruta de la imagen de fondo */
        background-size: cover; /* La imagen de fondo se ajustará al tamaño del div */
        background-position: center; /* La imagen de fondo se centrará horizontalmente y verticalmente */ /* Color de fondo */
        border: 1px solid #ced4da; /* Borde */
        border-radius: 5px; /* Bordes redondeados */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombreado */
    }

        .form-login h2 {
            color: #ffcc4e; /* Color del título */
            text-align: center;
            margin-bottom: 20px;
        }

    .form-group {
        margin-bottom: 15px;
    }

        .form-group label {
            color: white; /* Color del texto */
        }

        .form-group input[type="email"],
        .form-group input[type="text"],
        .form-group textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ced4da; /* Borde */
            border-radius: 3px; /* Bordes redondeados */
            box-sizing: border-box;
        }

        .form-group input[type="submit"] {
            background-color: #f2b4bf; /* Color de fondo del botón */
            color: white; /* Color del texto del botón */
            border: none;
            border-radius: 3px; /* Bordes redondeados */
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s; /* Transición suave */
        }

            .form-group input[type="submit"]:hover {
                background-color: #f4cfd6; /* Cambio de color al pasar el ratón */
            }

        .form-group textarea {
            height: 100px; /* Altura fija del textarea */
        }


</style>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<div class="cont">
<div class="containerImage">
    <img id="imagenHome" src="~/Images/col.jpg" />
        <div id="textoEncima" data-aos="fade-down-left">
        <h1>Bienvenido A Tu Viniladora de Confianza</h1>
        
    </div>
</div>



    <div style="display: flex; flex-direction: column; align-items: center; background-color:">
        <h2>Como son nuestros Productos</h2>
        <div style="display: flex; margin-bottom: 50px;">
            <div style="margin-right: 50px;border-radius:10px solid;" data-aos="fade-right"><img class="imagenHome" src="https://i.ibb.co/6R9fkN1/in1.png" width="300px" /></div>
            <div data-aos="fade-left" style="max-width: 500px;color:black;">En nuestra empresa, nos enorgullece operar de manera sostenible en cada paso del proceso. Utilizamos métodos de producción ecoamigables y materiales reciclados, minimizando así nuestro impacto ambiental y asegurando la calidad de nuestros productos.</div>
        </div>

        <div style="display: flex; margin-bottom: 50px;">
            <div data-aos="fade-right" style="max-width: 500px;color:black;">Nuestros productos están hechos con amor y cuidado en el corazón de nuestros hogares. Cada artículo es creado artesanalmente por manos expertas, utilizando recetas familiares transmitidas de generación en generación, para ofrecerte sabores auténticos y reconfortantes.</div>
            <div style="margin-left: 50px;" data-aos="fade-left"><img class="imagenHome" src="https://i.ibb.co/7gNT8gc/in2.png" width="300px" /></div>
        </div>

        <div style="display: flex; margin-bottom: 50px;">
            <div style="margin-right: 50px;" data-aos="fade-right"><img class="imagenHome" src="https://i.ibb.co/jD30Zc5/cb937ab2-3841-4f1f-ad7b-8890127c6b4f-removebg-preview.png" width="300px" /></div>
            <div data-aos="fade-left" style="max-width: 500px;color:black;">En nuestra compañía, estamos comprometidos con la sostenibilidad en todas nuestras operaciones. Tomamos medidas para reducir nuestro uso de recursos naturales y generar menos residuos, contribuyendo así a un futuro más limpio y saludable para todos.</div>
        </div>

        <div style="display: flex; margin-bottom: 50px;">
            <div data-aos="fade-right" style="max-width: 500px;color:black;">Nuestros productos son el resultado de la artesanía tradicional combinada con un enfoque moderno hacia la sostenibilidad. Cada artículo está cuidadosamente elaborado a mano por expertos artesanos, garantizando una calidad excepcional y un impacto ambiental reducido.</div>
            <div style="margin-left: 50px;" data-aos="fade-left"><img class="imagenHome" src="https://i.ibb.co/VMdGzNH/bdcb383b-7078-4106-93da-e6b3227b66ba-removebg-preview.png" width="300px" /></div>
        </div>
    </div>


    <div class="containerImage">
        <img id="imagenHome" src="~/Images/botes.jpg" />
        <div id="textoEncima" data-aos="fade-down-left">
            <h1 style="color:#ffcc4e">¿Tienes alguna sugerencia?</h1>

        </div>
    </div>

    <div class="form-login">
        <h2>Envianosla</h2>
        <form action="#" method="post">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Ingrese su email" required>
            </div>
            <div class="form-group">
                <label for="password">Nombre:</label>
                <input type="text" id="Nombre" name="nombre" placeholder="Ingrese su nombre" required>
            </div>
            <div class="form-group">
                <label for="password">Sugerencia:</label>
                <textarea id="sugerencia" name="sugerencia" placeholder="Ingrese su Sugerencia" required style=" resize: none;"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Enviar Sugerencia">
            </div>
        </form>
    </div>



    
        <h2 class="card-title" style="color: #007ce8;">¿Dónde nos puedes Encontrar?</h2>
        <div style="width: 700px; height: 550px; padding: 40px; margin: 0px auto;  border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);padding-bottom:30px">
            <iframe  src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5138.114715707594!2d-3.6137080923066107!3d40.027624817530054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1709887196542!5m2!1ses!2ses" width="600" height="450" style="border:0; border-radius: 10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    <br /><br />

    </div>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<script>
    AOS.init({
        
    });
    
</script>





























































